<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя библиотека</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
     {% block bootstrap_header %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock bootstrap_header %}
</head>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>My library</strong>
          </a>
        </div>
      </div>
    </header>
<body style="background: silver">
{% block content %}
{% endblock %}
</body>
<footer class="page-footer font-small blue"></footer>
</html>
